---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

interface Props {
	title?: string
	description?: string
	image?: string
	ogTitle?: string
	hideFooter?: boolean
}

const {
	title,
	description,
	image,
	ogTitle,
	hideFooter = false,
} = Astro.props

import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
			image={image}
			ogTitle={ogTitle}
		/>
	</head>
	<body
		class="text-foreground bg-background font-light dark:text-foreground-dark dark:bg-background-dark transition-colors"
	>
		<Navbar title={SITE_TITLE} />
		<slot />
		{!hideFooter && <Footer />}
		<script>
			const randomize = () => {
				document.querySelectorAll('a').forEach((a) => {
					const r = Math.floor(Math.random() * 256)
					const g = Math.floor(Math.random() * 256)
					const b = Math.floor(Math.random() * 256)
					;(a as HTMLAnchorElement).style.color = `rgb(${r}, ${g}, ${b})`
				})
			}
			randomize()
			document.addEventListener('astro:after-swap', randomize)
		</script>
	</body>
</html>